<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${var:logBasePath}/${appdomain:format={1\}}/${shortdate}/internal-nlog.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Extensions.Logging"/>
    </extensions>

    <variable name="logBasePath" value="${configsetting:name=Logging.NLog.LogBasePath}" />

    <targets>
        <target xsi:type="File" 
                name="all-file" 
                fileName="${var:logBasePath}/${appdomain:format={1\}}/${shortdate}/${appdomain:format={1\}}.${hostname}.${shortdate}.log"
                header="---------------------------------------------------------------------------------------${newline}-- Service started at ${longdate} ${newline}-- processid: ${processid} ${newline}-- hostname: ${hostname} ${newline}-- assembly-version: ${assembly-version} ${newline}---------------------------------------------------------------------------------------${newline}"
                layout="${time}[${threadid:padding=2}][${uppercase:${level:padding=5}}]${when:when=length('${mdlc:item=contextId}')>0:inner=[${mdlc:item=contextId}]} ${logger} ${message} ${exception:format=tostring}"
                footer="${newline}"
                keepFileOpen="true" />

        <target xsi:type="ColoredConsole"
                name="console-logs"
                layout="${message}"
                useDefaultRowHighlightingRules="true" />                
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="all-file" />
        <logger name="*" minlevel="Info" writeTo="console-logs" />        
    </rules>
</nlog>